/* Roboto regular */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Roboto Light */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto bold */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  background-color: #4b6cb7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

@media (max-width: 920px) {
  body {
    font-size: 15px;
  }
}
